# Local configuration for network mapper chart
mapper:
  repository: otterize
  image: network-mapper
  pullPolicy:
  pullSecrets:
  resources: { }
  excludeNamespaces:
    - 'istio-system'
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi


sniffer:
  enable: true # enable/disable entire installation of the network sniffer
  repository: otterize
  image: network-mapper-sniffer
  pullPolicy:
  pullSecrets:
  tolerations: []
  #The options to add tolerations
  # tolerations:
  # - operator: Exists
  priorityClassName: ""  
  resources: { }
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

kafkawatcher:
  # experimental - watch kafka logs and report through network mapper
  enable: false # enable/disable entire installation of the kafka-watcher
  repository: otterize
  image: network-mapper-kafka-watcher
  pullPolicy:
  pullSecrets:
  resources: { }
  # Kafka servers to watch, specified as `pod.namespace` items.
  kafkaServers: []
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

istiowatcher:
  enable: true
  repository: otterize
  image: network-mapper-istio-watcher
  tag:
  pullPolicy:
  pullSecrets:
  resources: { }
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

debug: false
allowGetAllResources: true

# Fields from All-in-one chart
global:
    kubebuilder_rbac_proxy:
      image: otterize/kubebuilder-kube-rbac-proxy
      tag: v0.11.0
  # If defined overrides `allowGetAllResources`
  allowGetAllResources:
  otterizeCloud:
    apiAddress:
    credentials:
      # fill clientId and clientSecret in order to connect to Otterize Cloud
      clientId:
      clientSecret:
      # if specified, uses this Kubernetes SecretKeyRef instead of creating a secret with the value of clientSecret.
      clientSecretKeyRef:
        secretName:
        secretKey:

    # (optional) The name of a secret containing a single `CA.pem` file for an extra root CA used to connect to Otterize Cloud.
    # The secret should be placed in the same namespace as the Otterize deployment
    apiExtraCAPEMSecret:
  telemetry:
    enabled:
