apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: credentials-operator
  name: credentials-operator-controller-manager
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: credentials-operator
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        app: credentials-operator
    spec:
      serviceAccountName: credentials-operator-controller-manager
      containers:
      - args:
        - --secure-listen-address=0.0.0.0:8443
        - --upstream=http://127.0.0.1:8080/
        - --logtostderr=true
        - --v=0
        image: {{ .Values.global.kubebuilder_rbac_proxy.image }}:{{ .Values.global.kubebuilder_rbac_proxy.tag }}
        name: kube-rbac-proxy
        ports:
        - containerPort: 8443
          name: https
          protocol: TCP
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
             - "ALL"
      - args:
        - --health-probe-bind-address=:8081
        - --metrics-bind-address=127.0.0.1:8080
        {{- if .Values.spire.serverAddress }}
        - --spire-server-address={{.Values.spire.serverAddress}}
        # if global.spire.serverServiceName it means that credentials-operator is deployed with spire
        # in that case the address will be serverService.Namespace:8081
        {{- else if .Values.global.spire.serverServiceName }}
        - --spire-server-address={{.Values.global.spire.serverServiceName}}.{{.Release.Namespace}}:8081
        {{- else }}
        - --spire-server-address=spire-server.{{.Release.Namespace}}:8081
        {{- end }}
        {{- if eq true .Values.global.otterizeCloud.useCloudToGenerateTLSCredentials }}
        - --use-otterize-cloud=true
        {{- end }}
        - --leader-elect
        command:
        - /manager
        image: "{{ .Values.operator.repository }}/{{ .Values.operator.image }}:{{ default $.Chart.AppVersion .Values.operator.tag }}"
        {{ if .Values.operator.pullPolicy }}
        imagePullPolicy: {{ .Values.operator.pullPolicy }}
        {{ end }}
        env:
          {{ if .Values.global.otterizeCloud.apiAddress }}
          - name: OTTERIZE_API_ADDRESS
            value: "{{ .Values.global.otterizeCloud.apiAddress }}"
          {{ end }}
          {{ if .Values.global.otterizeCloud.credentials.clientId }}
          - name: OTTERIZE_CLIENT_ID
            value: "{{ .Values.global.otterizeCloud.credentials.clientId }}"
          {{ end }}
          {{ if (and .Values.global.otterizeCloud.credentials.clientSecretKeyRef.secretName .Values.global.otterizeCloud.credentials.clientSecretKeyRef.secretKey) }}
          - name: OTTERIZE_CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                name: "{{ .Values.global.otterizeCloud.credentials.clientSecretKeyRef.secretName }}"
                key: "{{ .Values.global.otterizeCloud.credentials.clientSecretKeyRef.secretKey }}"
          {{ else if .Values.global.otterizeCloud.credentials.clientSecret }}
          - name: OTTERIZE_CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                name: intents-operator-otterize-cloud-client-secret
                key: otterize-cloud-client-secret
          {{ end }}
          {{ if .Values.global.otterizeCloud.apiExtraCAPEMSecret }}
          - name: OTTERIZE_API_EXTRA_CA_PEM
            value: {{ template "otterize.operator.apiExtraCAPEM" }}
          {{ end }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        name: manager
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
             - "ALL"
        volumeMounts:
{{- if eq "false" (.Values.global.otterizeCloud.useCloudToGenerateTLSCredentials | toString) }}
        - mountPath: {{ .Values.spire.socketsPath }}
          name: spire-agent-socket
          readOnly: true
{{- end }}
        {{- if .Values.global.otterizeCloud.apiExtraCAPEMSecret }}
        - mountPath: {{ template "otterize.operator.apiExtraCAPath" }}
          name: api-extra-ca-pem
          readOnly: true
        {{- end }}
      securityContext:
        runAsNonRoot: true
      terminationGracePeriodSeconds: 10
      volumes:
{{- if eq "false" (.Values.global.otterizeCloud.useCloudToGenerateTLSCredentials | toString) }}
      - hostPath:
          path: {{ .Values.spire.socketsPath }}
          type: Directory
        name: spire-agent-socket
{{- end }}
      {{ if .Values.global.otterizeCloud.apiExtraCAPEMSecret }}
      - name: api-extra-ca-pem
        secret:
          secretName: {{ .Values.global.otterizeCloud.apiExtraCAPEMSecret }}
      {{ end }}
