apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: spire-integration-operator
  name: spire-integration-operator-controller-manager
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spire-integration-operator
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        app: spire-integration-operator
    spec:
      serviceAccountName: spire-integration-operator-controller-manager
      containers:
      - args:
        - --secure-listen-address=0.0.0.0:8443
        - --upstream=http://127.0.0.1:8080/
        - --logtostderr=true
        - --v=0
        image: gcr.io/kubebuilder/kube-rbac-proxy:v0.11.0
        name: kube-rbac-proxy
        ports:
        - containerPort: 8443
          name: https
          protocol: TCP
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
             - "ALL"
      - args:
        - --health-probe-bind-address=:8081
        - --metrics-bind-address=127.0.0.1:8080
        {{- if .Values.spire.serverAddress }}
        - --spire-server-address={{.Values.spire.serverAddress}}
        # if global.spire.serverServiceName it means that spire-integration is deployed with spire
        # in that case the address will be serverService.Namespace:8081
        {{- else if .Values.global.spire.serverServiceName }}
        - --spire-server-address={{.Values.global.spire.serverServiceName}}.{{.Release.Namespace}}:8081
        {{- else }}
        - --spire-server-address=spire-server.{{.Release.Namespace}}:8081
        {{- end}}
        - --leader-elect
        command:
        - /manager
        image: "{{ .Values.operator.repository }}/{{ .Values.operator.image }}:{{ .Values.operator.tag }}"
        {{ if .Values.operator.pullPolicy }}
        imagePullPolicy: {{ .Values.operator.pullPolicy }}
        {{ end }}
        env:
          {{ if .Values.global.otterizeCloud.apiAddress }}
          - name: OTTERIZE_API_ADDRESS
            value: "{{ .Values.global.otterizeCloud.apiAddress }}"
          {{ end }}
          {{ if .Values.global.otterizeCloud.credentials.clientId }}
          - name: OTTERIZE_CLIENT_ID
            value: "{{ .Values.global.otterizeCloud.credentials.clientId }}"
          {{ end }}
          {{ if .Values.global.otterizeCloud.credentials.clientSecret }}
          - name: OTTERIZE_CLIENT_SECRET
            value: "{{ .Values.global.otterizeCloud.credentials.clientSecret }}"
          {{ end }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        name: manager
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
             - "ALL"
        volumeMounts:
        - mountPath: {{ .Values.spire.socketsPath }}
          name: spire-agent-socket
          readOnly: true
      securityContext:
        runAsNonRoot: true
      terminationGracePeriodSeconds: 10
      volumes:
      - hostPath:
          path: {{ .Values.spire.socketsPath }}
          type: Directory
        name: spire-agent-socket
