apiVersion: v1
kind: Service
metadata:
  labels:
    app: spire-integration-operator
  name: spire-integration-operator-controller-manager-metrics-service
  namespace: {{ .Release.Namespace }}
spec:
  ports:
  - name: https
    port: 8443
    targetPort: https
  selector:
    app: spire-integration-operator
