{{- if or .Values.global.aws.rolesAnywhere.enabled .Values.operator.ingressControllerConfigs .Values.operator.externallyManagedPolicyWorkloads .Values.operator.prometheusServerConfigs }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: intents-operator-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- with .Values.global.commonLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    app.kubernetes.io/version: {{ .Chart.Version }}
  annotations:
    {{- with .Values.global.commonAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    app.kubernetes.io/version: {{ .Chart.Version }}
data:
  config.yaml: |-
  {{- if .Values.global.aws.rolesAnywhere.enabled }}
    aws:
    {{- range $account := .Values.global.aws.rolesAnywhere.accounts | required "AWS RolesAnywhere accounts must be configured if RolesAnywhere is enabled" }}
      - account: {{ $account.id | quote | required "AWS RolesAnywhere account ID required: account.id" }}
        roleARN: {{ $account.intentsOperator.roleARN | required "AWS RolesAnywhere role ARN required: account.roleARN" }}
        profileARN: {{ $account.intentsOperator.profileARN | required "AWS RolesAnywhere profile ARN required: account.profileARN" }}
        trustAnchorARN: {{ $account.trustAnchorARN | required "AWS RolesAnywhere trust anchor ARN required: account.trustAnchorARN" }}
        trustDomain: {{ $account.trustDomain | required "AWS RolesAnywhere trust domain required: account.trustDomain" }}
    {{- end }}
  {{- end }}
  {{- if .Values.operator.ingressControllerConfigs }}
    ingressControllers:
    {{- range $ingressControllerConfig := .Values.operator.ingressControllerConfigs }}
      - name: {{ $ingressControllerConfig.name | quote | required "Ingress controller name required: name" }}
        namespace: {{ $ingressControllerConfig.namespace | quote | required "Ingress controller namespace required: namespace" }}
        kind: {{ $ingressControllerConfig.kind | quote | required "Ingress controller kind required: kind" }}
    {{- end }}
  {{- end }}
  {{- if .Values.operator.externallyManagedPolicyWorkloads }}
    externallyManagedPolicyWorkloads:
    {{- range $workload := .Values.operator.externallyManagedPolicyWorkloads }}
      - name: {{ $workload.name | quote | required "Workload name required: name" }}
        namespace: {{ $workload.namespace | quote | required "Workload namespace required: namespace" }}
        kind: {{ $workload.kind | quote | required "Workload kind required: kind" }}
    {{- end }}
  {{- end }}
  {{- if .Values.operator.prometheusServerConfigs }}
    prometheusServerConfigs:
    {{- range $config := .Values.operator.prometheusServerConfigs }}
      - name: {{ $config.name | quote | required "prometheusServerConfigs name required: name" }}
        namespace: {{ $config.namespace | quote | required "prometheusServerConfigs namespace required: namespace" }}
        kind: {{ $config.kind | quote | required "prometheusServerConfigs kind required: kind" }}
    {{- end }}
  {{- end }}
{{- end }}
