apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- with .Values.global.commonLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    app.kubernetes.io/version: {{ .Chart.Version }}
    app: intents-operator
  annotations:
    {{- with .Values.global.commonAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    app.kubernetes.io/version: {{ .Chart.Version }}
  name: intents-operator-controller-manager
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: intents-operator
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
        intents.otterize.com/service-name: intents-operator
        {{ if and (.Values.operator.autoGenerateTLSUsingCredentialsOperator) (.Values.global.deployment.credentialsOperator) }}
        credentials-operator.otterize.com/tls-secret-name: intents-operator-spire-tls-controller-manager
        {{- end }}
        {{- with .Values.global.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.global.commonAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        app.kubernetes.io/version: {{ .Chart.Version }}
      labels:
        {{- with .Values.global.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.global.commonLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        app: intents-operator
        app.kubernetes.io/version: {{ .Chart.Version }}
    spec:
      containers:
      - args:
        {{- if eq true .Values.operator.enableIstioPolicyCreation }}
        - --enable-istio-policy-creation=true
        {{- end }}
        - --enforcement-default-state={{ template "otterize.operator.mode" . }}
        {{- if eq false .Values.operator.enableNetworkPolicyCreation }}
        - --enable-network-policy-creation=false
        {{- end }}
        {{- if eq false .Values.operator.enableKafkaACLCreation }}
        - --enable-kafka-acl-creation=false
        {{- end }}
        - --allow-external-traffic={{ template "otterize.operator.allowExternalTraffic" . }}
        {{- range .Values.watchedNamespaces }}
        - --watched-namespaces={{ . | quote }}
        {{- end }}
      {{ if and (.Values.operator.autoGenerateTLSUsingCredentialsOperator) (.Values.global.deployment.credentialsOperator) }}
        - --kafka-server-tls-cert={{ template "otterize.operator.cert" }}
        - --kafka-server-tls-key={{ template "otterize.operator.key" }}
        - --kafka-server-tls-ca={{ template "otterize.operator.ca" }}
        {{- end }}
        {{- if eq false .Values.global.telemetry.enabled }}
        - --telemetry-enabled=false
        {{- else }}
        - --telemetry-enabled=true
        {{- end }}
        {{- if eq true .Values.operator.enableDatabaseReconciler }}
        - --enable-database-reconciler=true
        {{- end }}

        command:
        - /manager
        image: "{{ .Values.operator.repository }}/{{ .Values.operator.image }}:{{ default $.Chart.AppVersion .Values.operator.tag }}"
        {{ if .Values.operator.pullPolicy }}
        imagePullPolicy: {{ .Values.operator.pullPolicy }}
        {{ end }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8181
          initialDelaySeconds: 15
          periodSeconds: 20
        name: manager
        ports:
          - containerPort: 9443
            name: webhook-server
            protocol: TCP
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8181
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          {{- toYaml .Values.operator.resources | nindent 10 }}
        securityContext:
          allowPrivilegeEscalation: false
        env:
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          {{ if .Values.global.otterizeCloud.apiAddress }}
          - name: OTTERIZE_API_ADDRESS
            value: "{{ .Values.global.otterizeCloud.apiAddress }}"
          {{ end }}
          {{ if .Values.global.otterizeCloud.credentials.clientId }}
          - name: OTTERIZE_CLIENT_ID
            value: "{{ .Values.global.otterizeCloud.credentials.clientId }}"
          {{ end }}
          {{ if (and .Values.global.otterizeCloud.credentials.clientSecretKeyRef.secretName .Values.global.otterizeCloud.credentials.clientSecretKeyRef.secretKey) }}
          - name: OTTERIZE_CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                name: "{{ .Values.global.otterizeCloud.credentials.clientSecretKeyRef.secretName }}"
                key: "{{ .Values.global.otterizeCloud.credentials.clientSecretKeyRef.secretKey }}"
          {{ else if .Values.global.otterizeCloud.credentials.clientSecret }}
          - name: OTTERIZE_CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                name: intents-operator-otterize-cloud-client-secret
                key: otterize-cloud-client-secret
          {{ end }}
          {{ if .Values.global.otterizeCloud.apiExtraCAPEMSecret }}
          - name: OTTERIZE_API_EXTRA_CA_PEM
            value: {{ template "otterize.operator.apiExtraCAPEM" }}
          {{ end }}
          {{ if .Values.global.serviceNameOverrideAnnotationName }}
          - name: OTTERIZE_SERVICE_NAME_OVERRIDE_ANNOTATION
            value: {{ .Values.global.serviceNameOverrideAnnotationName | quote }}
          {{ end }}
        volumeMounts:
        - mountPath: /controller_manager_config.yaml
          name: manager-config
          subPath: controller_manager_config.yaml
        - mountPath: /tmp/k8s-webhook-server/serving-certs
          name: cert
        {{ if and (.Values.operator.autoGenerateTLSUsingCredentialsOperator) (.Values.global.deployment.credentialsOperator) }}
        - mountPath: {{ template "otterize.operator.tlsPath" }}
          name: spire-tls
          readOnly: true
        {{- end }}
        {{- if .Values.global.otterizeCloud.apiExtraCAPEMSecret }}
        - mountPath: {{ template "otterize.operator.apiExtraCAPath" }}
          name: api-extra-ca-pem
          readOnly: true
        {{- end }}
      - args:
        - --secure-listen-address=0.0.0.0:8443
        - --upstream=http://127.0.0.1:8080/
        - --logtostderr=true
        - --v=0
        image: {{ .Values.global.kubebuilder_rbac_proxy.image }}:{{ .Values.global.kubebuilder_rbac_proxy.tag }}
        name: kube-rbac-proxy
        ports:
        - containerPort: 8443
          name: https
          protocol: TCP
        - containerPort: 9443
          name: webhook-server
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 5m
            memory: 64Mi
        securityContext:
          allowPrivilegeEscalation: false
      securityContext:
        runAsNonRoot: true
      serviceAccountName: intents-operator-controller-manager
      terminationGracePeriodSeconds: 10
      volumes:
      - configMap:
          name: intents-operator-manager-config
        name: manager-config
      {{ if and (or .Values.operator.autoGenerateTLSUsingCredentialsOperator .Values.global.certificateProvider) (.Values.global.deployment.credentialsOperator) }}
      - name: spire-tls
        secret:
          secretName: intents-operator-spire-tls-controller-manager
          {{ if eq "cert-manager" .Values.global.certificateProvider }}
          items:
            - key: tls.crt
              path: cert.pem
            - key: tls.key
              path: key.pem
            - key: ca.crt
              path: ca.pem
          {{ end }}
      {{ end }}
      {{ if .Values.global.otterizeCloud.apiExtraCAPEMSecret }}
      - name: api-extra-ca-pem
        secret:
          secretName: {{ .Values.global.otterizeCloud.apiExtraCAPEMSecret }}
      {{ end }}
      - name: cert
