apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: intents-operator
  name: intents-operator-controller-manager
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: intents-operator
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
        {{- if .Values.operator.autoGenerateTLSUsingSpireIntegration }}
        otterize/service-name: intents-operator
        otterize/tls-secret-name: intents-operator-spifferize-tls-controller-manager
        {{- end }}
      labels:
        app: intents-operator
    spec:
      containers:
      - args:
        - --config=controller_manager_config.yaml
        command:
        - /manager
        image: {{ .Values.operator.image.repository }}
        imagePullPolicy: {{ .Values.operator.image.pullPolicy }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        name: manager
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          {{- toYaml .Values.operator.resources | nindent 10 }}
        securityContext:
          allowPrivilegeEscalation: false
        volumeMounts:
        - mountPath: /controller_manager_config.yaml
          name: manager-config
          subPath: controller_manager_config.yaml
        - mountPath: /etc/spifferize
          name: spifferize-tls
          readOnly: true
      - args:
        - --secure-listen-address=0.0.0.0:8443
        - --upstream=http://127.0.0.1:8080/
        - --logtostderr=true
        - --v=0
        image: gcr.io/kubebuilder/kube-rbac-proxy:v0.11.0
        name: kube-rbac-proxy
        ports:
        - containerPort: 8443
          name: https
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 5m
            memory: 64Mi
        securityContext:
          allowPrivilegeEscalation: false
      securityContext:
        runAsNonRoot: true
      serviceAccountName: intents-operator-controller-manager
      terminationGracePeriodSeconds: 10
      volumes:
      - configMap:
          name: intents-operator-manager-config
        name: manager-config
      {{ if .Values.operator.autoGenerateTLSUsingSpireIntegration}}
      - name: spifferize-tls
        secret:
          secretName: intents-operator-spifferize-tls-controller-manager
      {{ end }}
