deployment:
  spire: true
  spireIntegrationOperator: true
  intentsOperator: true

global:
  spire:
    serverServiceName: spire-server
  allowGetAllResources:
  spiffe:
    trustDomain: "example.org"
    CASubject:
      country: "US"
      organization: "SPIRE"

# alias for intents-operator values
intentsOperator:
  operator:
    autoGenerateTLSUsingSpireIntegration: true
    enableNetworkPolicyCreation: true
    enableKafkaACLCreation: true
    autoCreateNetworkPoliciesForExternalTraffic: true
  watchedNamespaces: null # by default, watch all

# alias for spire values
spire: {}

# alias for spire-integration-operator values
spireIntegrationOperator: {}
