deployment:
  spire: true
  credentialsOperator: true
  intentsOperator: true
  networkMapper: true

global:
  otterizeCloud:
    useCloudToGenerateTLSCredentials: false
    credentials:
      # fill clientId and clientSecret in order to connect to Otterize Cloud
      clientId:
      clientSecret:
    # (optional) fill with the name of a secret containing extra root CA PEM file used to connect to Otterize Cloud
    apiExtraCAPEMSecret:
  spire:
    serverServiceName: spire-server
  # If defined overrides `allowGetAllResources`
  allowGetAllResources:
  spiffe:
    trustDomain: "example.org"
    CASubject:
      country: "US"
      organization: "SPIRE"

# alias for intents-operator values
intentsOperator:
  operator:
    enableEnforcement: true
    autoGenerateTLSUsingCredentialsOperator: true
    enableNetworkPolicyCreation: true
    enableKafkaACLCreation: true
    autoCreateNetworkPoliciesForExternalTraffic: true
  watchedNamespaces: null # by default, watch all
  watcher: {}

# alias for spire values
spire: {}

# alias for credentials-operator values
credentialsOperator: {}

# alias for network-mapper values
networkMapper: {}