apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ template "otterize.mapper.componentConfigmap" . }}
  labels:
    {{- include "otterize.networkMapper.shared_labels" . | nindent 4 }}
    app.kubernetes.io/component: network-mapper-component-configmap
  annotations:
    {{- include "otterize.networkMapper.shared_annotations" . | nindent 4 }}
data: {}
