apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ template "otterize.mapper.componentConfigmap" . }}
  # labels:
  #   {{- /* with .Values.global.commonLabels */ }}
  #     {{- /* toYaml . | nindent 4 /* }}
  #     {{- /* end /* }}
  #     app.kubernetes.io/version: {{ /* .Chart.Version /* }}
  # annotations:
  #   {{- /* with .Values.global.commonAnnotations /* }}
  #     {{- /* toYaml . | nindent 4 /* }}
  #     {{- /* end /* }}
  #     app.kubernetes.io/version: {{ /* .Chart.Version /* }}
data: {}
