{{ if (default (.Values.kafkawatcher.enable .Values.kafkawatcher.enableK8sWatchMode)) }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "otterize.kafkawatcher.fullName" . }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ template "otterize.kafkawatcher.fullName" . }}
  template:
    metadata:
      labels:
        app: {{ template "otterize.kafkawatcher.fullName" . }}
    spec:
      securityContext:
        runAsNonRoot: true
      {{ if .Values.kafkawatcher.pullSecrets }}
      imagePullSecrets:
        - name: {{ .Values.kafkawatcher.pullSecrets }}
      {{ end }}
      containers:
        - name: {{ template "otterize.kafkawatcher.fullName" . }}
          image: "{{ .Values.kafkawatcher.repository }}/{{ .Values.kafkawatcher.image }}:{{ .Values.kafkawatcher.tag }}"
          {{ if .Values.kafkawatcher.pullPolicy }}
          imagePullPolicy: {{ .Values.kafkawatcher.pullPolicy }}
          {{ end }}
          resources:
            {{- toYaml .Values.kafkawatcher.resources | nindent 12 }}
          env:
            - name: OTTERIZE_MAPPER_API_URL
              value: http://{{ template "otterize.mapper.fullName" . }}:9090/query
            - name: OTTERIZE_DEBUG
              value: {{ .Values.debug | quote }}
            - name: OTTERIZE_KAFKA_SERVERS
              value: {{ join " " .Values.kafkawatcher.kafkaServers}}
      serviceAccountName: {{ template "otterize.kafkawatcher.fullName" . }}
{{ end }}