apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "otterize.mapper.fullName" . }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ template "otterize.mapper.fullName" . }}
  template:
    metadata:
      labels:
        app: {{ template "otterize.mapper.fullName" . }}
    spec:
      securityContext:
        runAsNonRoot: true
      {{ if .Values.mapper.pullSecrets }}
      imagePullSecrets:
        - name: {{ .Values.mapper.pullSecrets }}
      {{ end }}
      containers:
        - name: {{ template "otterize.mapper.fullName" . }}
          image: "{{ .Values.mapper.repository }}/{{ .Values.mapper.image }}:{{ default $.Chart.AppVersion .Values.mapper.tag }}"
          {{ if .Values.mapper.pullPolicy }}
          imagePullPolicy: {{ .Values.mapper.pullPolicy }}
          {{ end }}
          resources:
            {{- toYaml .Values.mapper.resources | nindent 12 }}
          env:
            - name: OTTERIZE_DEBUG
              value: {{ .Values.debug | quote }}
            {{ if .Values.global.otterizeCloud.apiAddress }}
            - name: OTTERIZE_API_ADDRESS
              value: "{{ .Values.global.otterizeCloud.apiAddress }}"
            {{ end }}
            {{ if .Values.global.otterizeCloud.credentials.clientId }}
            - name: OTTERIZE_CLIENT_ID
              value: "{{ .Values.global.otterizeCloud.credentials.clientId }}"
            {{ end }}
            {{ if .Values.global.otterizeCloud.credentials.clientSecret }}
            - name: OTTERIZE_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: mapper-otterize-cloud-client-secret
                  key: otterize-cloud-client-secret
            {{ end }}
            {{ if .Values.global.otterizeCloud.apiExtraCAPEMSecret }}
            - name: OTTERIZE_API_EXTRA_CA_PEM
              value: {{ template "otterize.operator.apiExtraCAPEM" }}
            {{ end }}
            - name: OTTERIZE_UPLOAD_INTERVAL_SECONDS
              value: {{ .Values.mapper.uploadIntervalSeconds | default "60" | quote }}
            {{ if .Values.mapper.excludeNamespaces }}
            - name: OTTERIZE_EXCLUDE_NAMESPACES
              value: {{ join " " .Values.mapper.excludeNamespaces }}
            {{ end }}
          volumeMounts:
            {{- if .Values.global.otterizeCloud.apiExtraCAPEMSecret }}
            - mountPath: {{ template "otterize.operator.apiExtraCAPath" }}
              name: api-extra-ca-pem
              readOnly: true
            {{- end }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - "ALL"
      serviceAccountName: {{ template "otterize.mapper.fullName" . }}
      volumes:
        {{ if .Values.global.otterizeCloud.apiExtraCAPEMSecret }}
        - name: api-extra-ca-pem
          secret:
            secretName: {{ .Values.global.otterizeCloud.apiExtraCAPEMSecret }}
        {{ end }}
