apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "otterize.mapper.configMapName" . }}
  labels:
    {{- include "otterize.networkMapper.shared_labels" . | nindent 4 }}
    app.kubernetes.io/component: network-mapper-configmap
  annotations:
    {{- include "otterize.networkMapper.shared_annotations" . | nindent 4 }}
data: {}
binaryData: {} # mapper will add data here on runtime