{{ if .Values.aws.visibility.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-dns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}-dns
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-dns
    spec:
      securityContext:
        {{- toYaml .Values.visibilitydns.podSecurityContext | nindent 10 }}
      imagePullSecrets:
        {{- toYaml .Values.visibilitydns.pullSecrets | nindent 10 }}
      volumes:
        - name: config-volume
          configMap:
            name: {{ .Release.Name }}-dns
            defaultMode: 420
            items:
              - key: Corefile
                path: Corefile
              - key: amazonaws.com.zone
                path: amazonaws.com.zone
      containers:
        - name: coredns
          image: "{{ .Values.visibilitydns.repository }}/{{.Values.visibilitydns.image }}:{{ .Values.visibilitydns.tag }}"
          imagePullPolicy: {{ .Values.visibilitydns.pullPolicy }}
          securityContext:
            {{- toYaml .Values.visibilitydns.containerSecurityContext | nindent 12 }}
          args:
            - "-conf"
            - "/etc/coredns/Corefile"
          ports:
            - name: dns
              protocol: UDP
              containerPort: 53
          volumeMounts:
            - name: "config-volume"
              readOnly: true
              mountPath: "/etc/coredns"
{{ end }}
