name: release
on: 
  push:
    tags:
      - v*

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Publish Helm charts
        uses: stefanprodan/helm-gh-pages@master
        with:
          token: ${{ secrets.OTTERIZEBOT_GITHUB_TOKEN }}
          commit_username: otterizebot
          commit_email: otterizebot@users.noreply.github.com
          charts_dir: .
